NEXT_PUBLIC_SUPABASE_URL=https://soujehqympampcze1wcz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNvdWplaHF5bXBhbXBjemVpd2N6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY5MjExMjcsImV4cCI6MjA5MjQ5NzEyN30.J74ujkoa51ucKkv0LkkOaxZHbn37F0LY0asOYgWFjAk
NEXT_PUBLIC_LINE_ID=@jsh9321p
NEXT_PUBLIC_DEV_PASSWORD=Gary2217